{% load i18n %}

{% if current_revisions or past_revisions %}
<div class="affects_too">
	{% if current_revisions %}
		<h4>Also affecting right now: </h4>
		{% for revision in current_revisions %}
			<a href="/{{ client.pk }}/{{ job.pk }}/{{ item.pk }}/{{ revision.page.number }}/">
				page {{ revision.page.number }}</a>{% if not forloop.last %}, {% endif %}
		{% endfor %}
		
	{% endif %}
		
	{% if past_revisions %}
		<h4>Used to affect: </h4>
		{% for revision in past_revisions %}
			<a href="/{{ client.pk }}/{{ job.pk }}/{{ item.pk }}/{{ revision.page.number }}/">
				{% if revision.page.number = page.number %}
					this page <i>(on previous rev. {{ revision.rev_number }})</i></a>
				{% else %}
					page {{ revision.page.number }} <i>(on rev. {{ revision.rev_number }})</i></a>{% endif %}{% if not forloop.last %}, {% endif %}
		{% endfor %}
	{% endif %}
</div>
{% endif %}
