{% load i18n %}


<script type="text/javascript">
	// attach handler to form's submit event 
	$('#comment_form').submit(function() { 
		// submit the form 
		$(this).ajaxSubmit(); 
		// return false to prevent normal browser submit and page navigation 
		return false; 
	});
</script>


<div class="comment_add">
	Add comment to page {{page.number}}
	<form id="comment_form" method="POST">
		{% csrf_token %}
		<textarea maxlength="256" name="comment" value="" placeholder="Write comment here..."></textarea>
		<label class="ok" for="status_ok">
			<input id="status_ok" type="radio" name="status" value="OK" > Approve
		</label>
		<label class="rejected" for="status_rejected">
			<input id="status_rejected" type="radio" name="status" value="REJECTED"> Reject
		</label>
		<div class="page_selection">
			Also affects page(s)... <br>
			{% for this_page in item.page_set.all %}
				{% if this_page.number == page.number %}
					<label for="{{ this_page.number }}">
						<input type="checkbox" checked="checked" disabled="disabled" id="{{ this_page.number }}"> {{ this_page.number }}
						<input type="hidden" checked="checked" name="pages[]" value="{{ this_page.number }}">
					</label>
				{% else %}
					<label for="{{ this_page.number }}">
						<input type="checkbox" name="pages[]" id="{{ this_page.number }}" value="{{ this_page.number }}"> {{ this_page.number }}
					</label>
				{% endif %}
			{% endfor %}
		</div>
		<button class="btn" onsubmit="return false;" name="from_page" value="{{ page.number }}">Add Comment</button>
	</form>
</div>	


<script type="text/javascript"> 
$('#submit').click(function(){
	alert('btn pushed');
    $.ajax({
        type:'POST',
        data: {
            comment: comment,
        },
        success: function(msg){
                alert('Email Sent');
            }                   
        });
    });
</script>

