{% load i18n %}


<div class="comment_add" style="border:black 2px solid;">
	Add a comment:
	<form method="post">
		{% csrf_token %}
		{{ form.as_ul }}
		<input type="text">
		<input type="submit" id="submit" value="Add Comment">
	</form>
	{{ message }}
</div>	


<script type="text/javascript"> 
$('#submit').click(function(){
	alert('btn pushed');
    $.ajax({
        url: '../{{ client.pk }}/{{ job.pk }}/{{ item.pk }}/{{ page.number }}/ajax/comment_add',
        type:'POST',
        data: {
            comment: id_comment,
        },
        success: function(msg){
                alert('Email Sent');
            }                   
        });
    });
</script>

