{% load i18n %}

<div class="container item">
	<div class="folder">
		<div class="tab"> </div>
		{{ item.page_set.count }} pages <br>
	</div>
	
	<div class="body">
		<div class="mini_summary"> 
			PK: {{ item.pk }}/ID: {{ item.id }} <br>
			{% if item.is_ready %} <b class="ok">Approved</b> {% else %} <b class="rejected">Not approved</b> {% endif %}
		</div>
		
		<a class="title" href="/{{ client.pk }}/{{ job.pk }}/{{ item.pk }}/list">{{ item.name }}</a> <br>
		{% if item.desc %}
			<div class="summary">
				<b>Description:</b> {{ item.desc }}
			</div>
		{% endif %}
		
	</div>
</div>

