{% load i18n %}
{% load widgets %}

<div class="container job">
	<div class="icon">  </div>
	<div class="body">
		<div class="mini_summary"> 
			PK: {{ job.pk }}/ID: {{ job.id }} <br>
			{% if job.is_ready %} <b class="ok">Approved</b> {% else %} <b class="rejected">Not approved</b> {% endif %}<br>
		</div>
		
		<a class="title" href="/{{ client.pk }}/{{ job.pk }}/">{{ job.name }}</a>
		<div class="summary">
			<b>Added on:</b> {{ job.creation|date:"D j M y, H:i" }} <br>
			<b>Description:</b> {{ job.desc }} <br>
			<br>
			
			{% item_list item job client %}
			
		</div>
		
		{% if job.item_set.all %}
			{% for item in job.item_set.all %}
				{% show_item item job client %}
			{% endfor %} 
		{% endif %}
	</div>
</div>
