{% load i18n %}
{% load widgets %}

<div class="job">
	{% if job.is_ready %} <b class="ok">Approved</b> {% else %} <b class="rejected">NOT approved</b> {% endif %}<br>
	{{ jobs.is_ready3 }}<br>
	{{ job.total_items }}/{{ job.total_pages }}
	<div class="client_icon">  </div>
	<div class="title"> <a href="/{{ client.pk }}/{{ job.pk }}/">{{ job.name }}</a> </div>
	<div class="mini_summary"> 
		{{ job.item_set.count }} total items 
		/ 
		{% for item in job.item_set.all %}
			{{ item.page_set.count }}
		{% endfor %}
		total pages 
	</div>
	<div class="summary">
		PK: {{ job.pk }}/ID: {{ job.id }} <br>
		Date added: {{ job.creation|date:"D j M y, H:i" }} <br>
		Description: {{ job.desc }} <br>
		{% if job.item_set.all %}
			Items inside: 
			{% for item in job.item_set.all %}
				<a href="/{{ job.client.pk }}/{{ job.pk }}/{{ item.pk }}/list/">{{ item.name }}</a> 
				({{ item.page_set.count }})
				{% show_item item job client %}
			{% endfor %} <br>
		{% endif %}
		<span class="rejected"> XX items with problems </span> </br>
		<span class="pending"> XX items pending </span> </br>
		<span class="ok"> XX approved items </span> </br>
	</div>
</div>
