{% load i18n %}
{% load widgets %}

<div class="container job" style="opacity:0.65;">
	<div class="icon">  </div>
	<div class="body">
		<div class="mini_summary"> 
			PK: {{ job.pk }}/ID: {{ job.id }} <br>
		</div>
		
		<a class="title" href="/{{ client.pk }}/{{ job.pk }}/">{{ job.name }}</a>
		<div class="summary">
			<b>Added on:</b> {{ job.creation|date:"D j M y, H:i" }} <br>
			<b>Description:</b> {{ job.desc }} <br>

			{% if job.item_set.all %}
				<b>{{ job.item_set.count }} items, {{ job.total_pages }} pages inside</b> <br>
			{% endif %}
		</div>
	</div>
</div>
