{% load i18n %}
{% load widgets %}


<div class="job_thumb">
	<div class="folder">
		<div class="tab"> </div>
		<div class="totals">
			{% if job.is_ready %} <b class="ok">Approved</b> {% else %} <b class="rejected">Not approved</b> {% endif %} <br>
		</div>
	</div>
	<a class="title" href="/{{ client.pk }}/{{ job.pk }}/">{{ job.name }}</a>
	<div class="summary"> 
		{% if job.desc %}
			{{ job.desc }} <br>
		{% endif %}
		Added on {{ job.creation|date:"D j M y, H:i" }} <br>
		{{ job.item_set.count }} items, {{ job.total_pages }} pages <br>
		PK: {{ job.pk }} / ID: {{ job.id }} <br>
	</div>
</div>

