{% load i18n %}
{% load widgets %}
{% load review %}


{# TODO: unify odd and even since the only difference is the class #}
<div class="page odd">
	<div class="page_summary">
		<h3 class="{{ page.last_rev.status|lower }}">{{ page.number }}</h3>
		Last comment on {{ page.last_rev.creation|date:"j M, H:i" }}
	</div>
	
	{% comment_add context page item job client %}
	
	{% if page.last_rev.comment_set.all %}
		<div class="comment_array">
			{% for comment in page.last_rev.comment_set.all %}
				{% show_comment comment page item job client %}
			{% endfor %}
		</div>
	{% endif %}
	
	<img style="z-index:-10;" src="/media/{{ client.pk }}/{{ job.pk}}/{{ item.pk }}/pages/{{ page.number }}/{{ page.last_rev.rev_number }}/{{ page.number }}-render.jpg"></img>
</div>
