{% load i18n %}
{% load widgets %}
{% load review %}


{# TODO: unify odd and even since the only difference is the class #}
<div class="page odd">
	{% comment_add context page item job client %}
	{{ page.number }} <br>
	{{ page.last_rev.status }} <br>
	{{ page.last_rev.creation }} <br>
	{% if page.last_rev.comment_set.all %}
		{% for comment in page.last_rev.comment_set.all %}
			{% show_comment comment page item job client %}
		{% endfor %}
	{% endif %}
	<img style="z-index:-10;" src="/media/img/item_sample/{{ page.number }}.png"></img>
</div>
