{% load i18n %}


<a href="/{{ client.pk }}/{{ job.pk }}/{{ item.pk }}:{{ version.name }}/{{ version.rel_num }}/">
	<div class="page_thumb odd">
		<div class="page_number {{ version.page.last_rev.status|lower }}">{{ version.rel_num }}</div>
		<div class="page_info">
			{{ version.page.last_rev.comment_set.count }} comment{{ version.page.last_rev.comment_set.count|pluralize }} <br>
			on {{ version.page.last_rev.creation|date:"j M, H:i" }} <br>
			({{ version.page.revision_set.count }} revision{{ version.page.revision_set.count|pluralize }})
		</div>
	</div>
</a>
