{% load i18n %}
{% load widgets %}
{% load review %}


{# TODO: unify odd and even since the only difference is the class #}
<div class="page odd">
	<div class="page_summary">
		<h3 class="{{ version.page.last_rev.status|lower }}">{{ version.rel_num }}</h3>
		Last comment on {{ version.page.last_rev.creation|date:"j M, H:i" }}
	</div>
	
	{% comment_add context version item job client %}
	
	{% if version.page.last_rev.comment_set.all %}
		<div class="comment_array">
			{% for comment in version.page.last_rev.comment_set.all %}
				{% comment_show comment version item job client %}
			{% endfor %}
		</div>
	{% endif %}
	
	<img style="z-index:-10;" src="/media/{{ client.pk }}/{{ job.pk}}/{{ item.pk }}/pages/{{ version.abs_num }}/{{ version.page.last_rev.rev_number }}/{{ version.abs_num }}.jpg"/>
</div>
