{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<link href="/media/css/common.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/buttons.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/media/fonts/heydings-controls/stylesheet.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/media/fonts/heydings-common-icons/stylesheet.css" type="text/css" charset="utf-8">
	<link href="/media/favicon.ico" rel="shortcut icon">
	<title>404</title>
</head>

	
<body>
	<div id="topbar">
		<ul>
			<li> <a href="/">FP</a> </li>
			<li> 404! </li>
		</ul>
	</div>

	<div id="view">
	Not found here! <br>
	Go back to <a href="/">Start</a>?
	</div>	
</body>
</html>