{% load i18n %}{% load i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<link href="/media/css/common.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/buttons.css" rel="stylesheet" type="text/css">
	<link href="/media/css/main.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/media/fonts/heydings-controls/stylesheet.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/media/fonts/heydings-common-icons/stylesheet.css" type="text/css" charset="utf-8">
	<link href="/media/favicon.ico" rel="shortcut icon">
	<title>FP - {{ client.name }} - Job List</title>
</head>


<body>
	<div id="topbar">
		<ul>
			<li> <a href="/">FP</a> </li>
			<li> {{ client.name }} </li>
			<li> Job List </li>
		</ul>
	</div>

	<div id="sidebar">
		<div class="btn_box_top">
			<div class="btn btnM btnV top pushed"> Job List </div>
			<div class="btn btnM btnV bottom"> <div class="icon icon2">G</div> Configure </div>
			<a href="/{{ client.pk }}/job_add"><div class="btn btnM"> <div class="icon icon2"> + </div> Add Job </div></a>
		</div>
		{% if jobs %}
		<div class="btn_box_bottom">
			<div class="btn btnM delete"> <div class="icon icon1">X</div> Delete Job </div>
		</div>
		{% endif %}
	</div>
	
	<div id="view">
	{% if jobs %}
		{% for job in jobs %}
			<div class="client">
				<div class="client_icon">  </div>
				<div class="title"> <a href="/{{ client.pk }}/{{ job.pk }}/">{{ job.name }}</a> </div>
				<div class="mini_summary"> 
					{{ job.item_set.count }} total items / {{ item.page_set.count }} total pages 
					
					{% for item in job.item_set.all %}
						{% for page in item.page_set.all %}
							{{ forloop.counter }}
						{% endfor %}
					{% endfor %}
					{{ counter }}
					
				</div>
				<div class="summary">
					PK: {{ job.pk }}/ID: {{ job.id }} <br>
					Date added: {{ job.creation|date:"D j M y, H:i" }} <br>
					Description: {{ job.desc }} <br>
					{% if job.item_set.all %}
						Items inside: 
						{% for item in job.item_set.all %}
							<a href="/{{ job.client.name }}/{{ job.name }}/{{ item.name }}/list/">{{ item.name }}</a> 
						{% endfor %} <br>
					{% endif %}
					<span class="rejected"> XX items with problems </span> </br>
					<span class="pending"> XX items pending </span> </br>
					<span class="accepted"> XX approved items </span> </br>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>No jobs are available.</p>
	{% endif %}
	</div>
</body>
</html>
