{% load i18n %}
{% load widgets %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<link href="/media/css/common.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/buttons.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/client.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/media/fonts/heydings-controls/stylesheet.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/media/fonts/heydings-common-icons/stylesheet.css" type="text/css" charset="utf-8">
	<link href="/media/favicon.ico" rel="shortcut icon">
	<title>FP - Search for a Client</title>
</head>

	
<body>
	<div id="topbar">
		<ul>
			<li> FP </li>
			<li> Search for a Client </li>
		</ul>
	</div>

	<div id="control_bar">
		<div class="btn_box_left">
			<a href="/"><div class="btn btnM btnH left"> Client List </div></a>
			<div class="btn btnM btnH"> <div class="btn_icon btn_icon2">G</div> Configure FP </div>
		</div>
	</div>
	
	<div id="view">
		<form action="/client_search/" method="get">
			<input type="text" name="name">
			<input type="submit" value="Search">
		</form>
		<ul>
			<li>{{message}}</li>
		</ul>
		
	{% if query %}
		{% for client in query %}
			{% show_client client %}
		{% endfor %}
	{% else %}
		<p>No clients were found.</p>
	{% endif %}
	
	{% if query_unactive %}
		There are also {{ query_unactive.count }} unactive clients:
		{% for client in query_unactive %}
			{% show_client_unactive client %}
		{% endfor %}
	{% endif %}
	</div>	
</body>
</html>

















