{% load i18n %}
{% load snippets %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<link href="/media/css/common.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/buttons.css" rel="stylesheet" type="text/css">
	<link href="/media/css/main.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/media/fonts/heydings-controls/stylesheet.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/media/fonts/heydings-common-icons/stylesheet.css" type="text/css" charset="utf-8">
	<link href="/media/favicon.ico" rel="shortcut icon">
	<title>FP - Search for a Client</title>
</head>

	
<body>
	<div id="topbar">
		<ul>
			<li> FP </li>
			<li> Search for a Client </li>
		</ul>
	</div>

	<div id="sidebar">
		<div class="btn_box_top">
			<a href="/"><div class="btn btnM btnV top"> Client List </div></a>
			<div class="btn btnM btnV bottom"> <div class="icon icon2">G</div> Configure FP </div>
			<div class="btn btnM"> <div class="icon icon2"> + </div> Submit </div>
		</div>
		<div class="btn_box_bottom">
			<div class="btn btnM delete"> <div class="icon icon1">X</div> Discard changes </div>
		</div>
	</div>
	
	<div id="view">
		<form action="/client_search/" method="get">
			<input type="text" name="name">
			<input type="submit" value="Search">
		</form>
		<ul>
			<li>{{message}}</li>
		</ul>
		
	{% if query %}
		{% for client in query %}
			{% show_client client %}
		{% endfor %}
	{% else %}
		<p>No clients were found.</p>
	{% endif %}
	</div>	
</body>
</html>

















