{% load i18n %}
{% load widgets %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<link href="/media/css/common.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/buttons.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/client.css" rel="stylesheet" type="text/css">
	<link href="/media/css/job_view.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/media/fonts/heydings-controls/stylesheet.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/media/fonts/heydings-common-icons/stylesheet.css" type="text/css" charset="utf-8">
	<link href="/media/favicon.ico" rel="shortcut icon">
	<title>FP - {{ client.name }} - Job List</title>
</head>


<body>
	<div id="topbar">
		<ul>
			<li> <a href="/">FP</a> </li>
			<li> {{ client.name }} </li>
			<li> Job List </li>
		</ul>
	</div>

	<div id="sidebar">
		<div class="btn_box_top">
			<div class="btn btnM btnV top pushed"> Job List </div>
			<div class="btn btnM btnV bottom"> <div class="icon icon2">G</div> Configure </div>
			<a href="/{{ client.pk }}/job_add"><div class="btn btnM"> <div class="icon icon2"> + </div> Add Job </div></a>
		</div>
		{% if jobs %}
		<div class="btn_box_bottom">
			<div class="btn btnM delete"> <div class="icon icon1">X</div> Delete Job </div>
		</div>
		{% endif %}
	</div>
	
	<div id="view">
	{% if jobs %}
		{% for job in jobs %}
			{% show_job job client %}
		{% endfor %}
	{% else %}
		<p>No jobs are available.</p>
	{% endif %}

	{% if jobs_unactive %}
		There are also {{ jobs_unactive.count }} unactive jobs:
		{% for job in jobs_unactive %}
			{% show_job_unactive job client %}
		{% endfor %}
	{% endif %}
	</div>
</body>
</html>
