{% load i18n %}
{% load uploader %}


<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<link href="/media/css/common.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/buttons.css" rel="stylesheet" type="text/css">
	<link href="/media/css/client_conf.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/media/fonts/heydings-controls/stylesheet.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/media/fonts/heydings-common-icons/stylesheet.css" type="text/css" charset="utf-8">
	<script src="/media/js/jquery-1.8.1.js"></script>
	<link href="/media/favicon.ico" rel="shortcut icon">
	<title>FP - File Upload</title>
</head>
	
<body>
	<div id="topbar">
		<ul>
			<li> FP </li>
			<li> Upload a file </li>
		</ul>
	</div>

	<div id="sidebar">
		<div class="btn_box_top">
			<a href="/"><div class="btn btnM btnV"> Client List </div></a>
		</div>
	</div>
	
	<div id="view">
		<form enctype="multipart/form-data">
			<input id="fileinput" name="uploads" type=file multiple>
			<input id="submit" type="button" value="send"> 
		</form>
		<br>
		<div style="background-color:rgba(10,10,200,.5); height:20px; width:600px">
			<div class="bar" style="background-color:green; width:0%; height:100%;"></div>
			<div id="message">0%</div>
		</div> 
	</div>
	
	<script>
		// Check queue status with task_id variable with state of the current task.
		var PollState = function(task_id) {
			$.ajax({
				url: "/queue_poll",
				type: "POST",
				data: "task_id=" + task_id,
			}).done(function(task){
				// Update process bar with progress:
				if (task.process_percent) {
					$('.bar').css({'width': task.process_percent + '%'});
					$('#message').html(task.process_percent + '% - ' + task.filename + ' - ' + task_id + ' - Page ' + task.pdf_current_pos + '/' + task.span);
				};
				setTimeout(PollState(task_id), 3000);
			});	
		};
	
		$('#submit').click(function(){
			var formData = new FormData($('form')[0]);
			$.ajax({
				url: '/{{ client.pk }}/{{ job.pk }}/{{ item.pk }}/uploader',
				type: 'POST',
				data: formData,
				cache: false,
				// jQuery must not process data or AJAX data gets malformed.
				contentType: false,
				processData: false,
				}).done(function(task_id){
					alert(task_id);
					PollState(task_id);
				});
		});		
	</script>
</body>
</html>