{% load i18n %}{% load i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<link href="/media/css/common.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/buttons.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/pages.css" rel="stylesheet" type="text/css">
	<link href="/media/css/item_view_thumbs.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/media/fonts/heydings-controls/stylesheet.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/media/fonts/heydings-common-icons/stylesheet.css" type="text/css" charset="utf-8">
	<link href="/media/favicon.ico" rel="shortcut icon">
	<title>FP - {{ client.name }} - {{ job.name }} - {{ item.name }} - Page Thumbs</title>
</head>


<body>
	<div class="debug">--</div>
	<div id="topbar">
		<ul>
			<li> <a href="/">FP</a> </li>
			<li> <a href="/{{ client.pk }}/">{{ client.name }}</a> </li>
			<li> <a href="/{{ client.pk }}/{{ job.pk }}/">{{ job.name }}</a> </li>
			<li> {{ item.name }} </li>
			<li> <div class="icon icon1">5</div> Page Thumbs </li>
		</ul>
	</div>
	
	<div id="sidebar">
		<div class="btn_box_top">
		
			<div class="btn btnM btnV top pushed"> <div class="icon icon2">k</div> Thumbs </div>
			<a href="/{{ client.pk }}/{{ job.pk }}/{{ item.pk }}/list/"><div class="btn btnM btnV middle"> <div class="icon icon1">5</div> List </div></a>
			<div class="btn btnM btnV bottom"> <div class="icon icon2">G</div> Configure </div>
			<div class="btn btnM"> <div class="icon icon2">+</div> Update Pages </div>
			<div class="help">
				Click pages to view them in a new window.<br>
				Mark checkboxes to select pages for deletion.<br>
				<br>
				{% if pages %}
					{% if first_page.number|divisibleby:2 %}even{% else %}odd{% endif %}
				{% endif %}
			</div>
		</div>
		
		<div class="btn_box_bottom">
			<div class="btn btnM delete"> <div class="icon icon1">X</div> Delete Pages </div>
		</div>
	</div>
	
	<div id="view">
<!--each page of pages[] gets evaluated differently:
	1) if page is even numbered, then use "page_thumb even"
	2) if page is odd numbered, then use "page_thumb odd", but:
		2a) if this happens in the first iteration, add a dummy odd page too, else
		2b) following iterations get only an odd page (no dummy)
	At the same time (in a separate loop), it checks where to group pages 
	in pairs based on "page.number".
	Thanks to: http://stackoverflow.com/questions/11964972/django-template-for-tag-add-li-every-4th-element
	-->
		{% if pages %}
			<div class="thumb_container">
				{% for page in pages%}
					{% if page.number|divisibleby:2 %}
						<a href="/{{ client.pk }}/{{ job.pk }}/{{ item.pk }}/{{ page.number }}/">
							<div class="page_thumb even">
							<div class="page_number">{{ page.number }}</div>
							<div class="page_status pending"> {{ page.revision.status }} </div>
							<div class="page_info">
								XX comments <br>
								{{ page.revision_set.count }} revision{{ page.revision_set.count|pluralize }}
								</div>
							</div>
						</a>
					{% else %}
						{% if forloop.counter == 1 %}
							<div class="page_thumb even dummy"></div>
							<a href="/{{ client.pk }}/{{ job.pk }}/{{ item.pk }}/{{ page.number }}/">
								<div class="page_thumb odd">
									<div class="page_number">{{ page.number }}</div>
									<div class="page_status pending"> {{ page.revision.status }} </div>
									<div class="page_info">
										XX comments <br>
										{{ page.revision_set.count }} revision{{ page.revision_set.count|pluralize }}
									</div>
								</div>
							</a>
						{% else %}
							<a href="/{{ client.pk }}/{{ job.pk }}/{{ item.pk }}/{{ page.number }}/">
								<div class="page_thumb odd">
									<div class="page_number">{{ page.number }}</div>
									<div class="page_status pending"> {{ page.revision.status }} </div>
									<div class="page_info">
										XX comments <br>
										{{ page.revision_set.count }} revision{{ page.revision_set.count|pluralize }}
									</div>
								</div>
							</a>
						{% endif %}
					{% endif %}
					
					{# if the the forloop counter is divisible by 2, close the thumb container tag and open a new one #}
					{% if not page.number|divisibleby:2 %}</div><div class="thumb_container">{% endif %}
					
				{% endfor %}
			</div>
		{% else %}
			<p>No pages are available.</p>
		{% endif %}

	</div>
</body>
</html>
