{% load i18n %}
{% load widgets %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<link href="/media/css/common.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/buttons.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/item.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/media/fonts/heydings-controls/stylesheet.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/media/fonts/heydings-common-icons/stylesheet.css" type="text/css" charset="utf-8">
	<link href="/media/favicon.ico" rel="shortcut icon">
	<title>FP - {{ client.name }} - {{ job.name}} - Item List</title>
</head>


<body>
	<div id="topbar">
		<ul>
			<li> <a href="/{{ client.pk }}/">{{ client.name }}</a> </li>
			<li> {{ job.name }} </li>
			<li> Item List </li>
		</ul>
	</div>

	<div id="control_bar">
		<div class="btn_box_center">
			<div class="btn btnM btnH left pushed"> Item List </div>
			<div class="btn btnM btnH middle"> <div class="btn_icon btn_icon2">G</div> Configure </div>
			<a href="/{{ client.pk }}/{{ job.pk }}/item_add"><div class="btn btnM btnH right"> <div class="btn_icon btn_icon2">+</div> Add Item </div></a>
			{% if items %}
				<div class="btn btnM btnH delete"> <div class="btn_icon btn_icon1">X</div> Delete Item </div>
			{% endif %}
		</div>
	</div>
	
	<div id="view">
	{% if items %}
	    {% for item in items %}
			{% show_item item job client %}
		{% endfor %}
		{% else %}
			<p>No items are available.</p>
	{% endif %}
	</div>
	
	
</body>
</html>
