{% load i18n %}{% load i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<link href="/media/css/common.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/buttons.css" rel="stylesheet" type="text/css">
	<link href="/media/css/main.css" rel="stylesheet" type="text/css">
	<link href="/media/css/client_conf.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/media/fonts/heydings-controls/stylesheet.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/media/fonts/heydings-common-icons/stylesheet.css" type="text/css" charset="utf-8">
	<link href="/media/favicon.ico" rel="shortcut icon">
	<title>FP - {{client_name}} - Add Job</title>
</head>

	
<body>
	<div id="topbar">
		<ul>
			<li> FP </li>
			<li> {{ client_name }} </li>
			<li> Add Job </li>
		</ul>
	</div>

	<div id="sidebar">
		<div class="btn_box_top">
			<div class="btn btnM btnV top"> Client List </div>
			<div class="btn btnM btnV bottom"> <div class="icon icon2">G</div> Configure Client </div>
			<div class="btn btnM"> <div class="icon icon2"> + </div> Submit </div>
		</div>
		<div class="btn_box_bottom">
			<div class="btn btnM delete"> <div class="icon icon1">X</div> Discard changes </div>
		</div>
	</div>
	
	<div id="view">
	
		<form action="/{{ client_name }}/job_add/" method="post">
			{% csrf_token %}
			{{ form.as_ul }}
			<input type="submit" value="Add Client">
		</form>
		{{ added }}
		
		
		
		
		
		
	</div>	
</body>
</html>

















