<h1>{{ job_name }}</h1>
<a href="/{{ client_name }}/">Back to client</a> <br>
{% if items %}
    <ul>
    {% for item in items %}
        <li>
			<a href="/{{ item.job.client.name }}/{{ item.job.name }}/{{ item.name }}/">{{ item.name }}</a> <br>
			Pages: {{ item.page_set.count }} <br>
			Job it belongs to: {{ item.job.name }} <br>
			Client it belongs to: {{ item.job.client.name }} <br>
			Desc: {{ item.desc }}
		</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No items are available.</p>
{% endif %}