{% load i18n %}
{% load widgets %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<link href="/media/css/common.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/buttons.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/job.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/item.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/media/fonts/heydings-controls/stylesheet.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/media/fonts/heydings-common-icons/stylesheet.css" type="text/css" charset="utf-8">
	<link href="/media/favicon.ico" rel="shortcut icon">
	<title>FP - {{ client.name }} - Search for a Job</title>
</head>

	
<body>
	<div id="topbar">
		<ul>
			
			<li> {{ client.name }} </li>
			<li> Search for a Job </li>
		</ul>
	</div>

	<div id="control_bar">
		<div class="btn_box_center">
			<a href="/{{ client.pk }}/"><div class="btn btnM btnH left"> Job List </div></a>
			<div class="btn btnM btnH right"> <div class="btn_icon btn_icon2">G</div> Configure Client </div>
			<a href="/{{ client.pk }}/"><div class="btn btnM btnH delete"> <div class="btn_icon btn_icon1">X</div> Discard changes </div></a>
		</div>
	</div>
	
	<div id="view">
		<form action="/{{ client.pk }}/job_search/" method="get">
			<input type="text" name="name">
			<input class="btn btnM btnH" type="submit" value="Search">
		</form>
		<ul>
			<li>{{message}}</li>
		</ul>
		
	{% if query %}
		{% for job in query %}
			{% show_job job client %}
		{% endfor %}
	{% else %}
		<p>No jobs were found.</p>
	{% endif %}
	
	{% if query_unactive %}
		There are also {{ query_unactive.count }} unactive jobs:
		{% for job in query_unactive %}
			{% show_job_unactive job client %}
		{% endfor %}
	{% endif %}
	</div>	
</body>
</html>

















