{% load i18n %}{% load i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<link href="/media/css/common.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/buttons.css" rel="stylesheet" type="text/css">
	<link href="/media/css/main.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/media/fonts/heydings-controls/stylesheet.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/media/fonts/heydings-common-icons/stylesheet.css" type="text/css" charset="utf-8">
	<link href="/media/favicon.ico" rel="shortcut icon">
	<title>FP - {{ client_name }} - Search for a Job</title>
</head>

	
<body>
	<div id="topbar">
		<ul>
			<li> <a href="/">FP</a> </li>
			<li> <a href="/{{ client_name }}/">{{ client_name }}</a> </li>
			<li> Search for a Job </li>
		</ul>
	</div>

	<div id="sidebar">
		<div class="btn_box_top">
			<a href="/{{ client_name }}/"><div class="btn btnM btnV top"> Job List </div></a>
			<div class="btn btnM btnV bottom"> <div class="icon icon2">G</div> Configure Client </div>
		</div>
		<div class="btn_box_bottom">
				<a href="/{{ client_name }}/"><div class="btn btnM delete"> <div class="icon icon1">X</div> Discard changes </div></a>
		</div>
	</div>
	
	<div id="view">
		<form action="/{{ client_name }}/job_search/" method="get">
			<input type="text" name="name">
			<input type="submit" value="Search">
		</form>
		<ul>
			<li>{{message}}</li>
		</ul>
		
	{% if query %}
		{% for job in query %}
			<div class="client">
			{{ job.creation|date }}
				<div class="client_icon">  </div>
				<div class="title"> <a href="/{{ job.client.name }}/{{ job.name }}/">{{ job.name }}</a> </div>
				<div class="mini_summary"> 
					{{ job.item_set.count }} total items / {{ job.item.page_set.count }} total pages 
				</div>
				<div class="summary">
					{{ job.desc }} <br>
					{% for item in job.item_set.all %}
							<a href="/{{ job.client.name }}/{{ job.name }}/{{ item.name }}/list/">{{ item.name }}</a> 
					{% endfor %} <br>
					<span class="rejected"> XX items with problems </span> </br>
					<span class="pending"> XX items pending </span> </br>
					<span class="accepted"> XX approved items </span> </br>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>No jobs were found.</p>
	{% endif %}
	</div>	
</body>
</html>

















