{% load i18n %}
{% load snippets %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<link href="/media/css/common.css" rel="stylesheet" type="text/css">
	<link href="/media/css/widgets/buttons.css" rel="stylesheet" type="text/css">
	<link href="/media/css/main.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/media/fonts/heydings-controls/stylesheet.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/media/fonts/heydings-common-icons/stylesheet.css" type="text/css" charset="utf-8">
	<link href="/media/favicon.ico" rel="shortcut icon">
	<title>FP - Client List</title>
</head>

	
<body>
	<div id="topbar">
		<ul>
			<li> FP </li>
			<li> Client List </li>
		</ul>
	</div>

	<div id="sidebar">
		<div class="btn_box_top">
			<div class="btn btnM btnV top pushed"> Client List </div>
			<div class="btn btnM btnV bottom"> <div class="icon icon2">G</div> Configure FP </div>
			<a href="/client_add/"><div class="btn btnM"> <div class="icon icon2"> + </div> Add Client </div></a>
		</div>
		{% if clients %}
		<div class="btn_box_bottom">
			<div class="btn btnM delete"> <div class="icon icon1">X</div> Delete Client </div>
		</div>
		{% endif %}
	</div>
	
	<div id="view">
	{% if clients %}
		{% for client in clients %}
			{% show_client client %}
		{% endfor %}
	{% else %}
		<p>No clients are available.</p>
	{% endif %}
	</div>	
</body>
</html>