{#% load page_extras %#}

<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<title>FP - {{ client.name }} - {{ job.name}} - {{item.name}} - {{ page.number }}</title>
</head>

<a href="/{{ client.pk }}/{{ job.pk }}/{{ item.pk }}/list/">Back to item</a> <br>
<h1>{{ page.number }}</h1>
{% if revisions %}
<h2>Last revision</h2>
	<p>Status: {{ page.last_rev.status }}</p>
	<p>Last rev. #: {{ page.last_rev.rev_number }} <br> Total revs.: {{ revisions.count }} <br> Last rev. PK: {{ page.last_rev.pk }} <br> Creation: {{ page.last_rev.creation }} </p>
	Comments:
	{% for comment in page.last_rev.comment_set.all %}
		<li>{{ comment.comment }} </li>
	{% endfor %}
------------------------------------------------
	
	<ul>
		{% for revision in page.revision_set.all %}
			<li> Rev. num.: {{ revision.rev_number }} / Rev. PK: {{ revision.pk }} </li>
			<ul> 
				<li>Status: {{ revision.status }}</li>
				<li>Belongs to page: {{ revision.page.number }}</li>
				<li>Client correction: {{ revision.clientcontent.corr_ref }}</li>
				<li>Comments:
					<ul>
						{% for comment in revision.comment_set.all %}
							<li>{{ comment.comment }} </li>
						{% endfor %}
					</ul>
				</li>
				<li>Date: {{ revision.creation }}</li>
			</ul>
		{% endfor %}
	</ul>
	{% endif %}
